{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

<div class="pagetitle">
    Share Files
    <!-- creates particles for dynamic background -->
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<form action="/share" method="post">

    <form action="/share" method="post">
        <div class="mb-3">
            <!-- Dropdown form -->
            <select class="form-select mx-auto w-auto" name="file">
                <option disabled selected>Filename</option>
                    {% for scan in scans %}
                            <tr>
                                <option value="{{ scan.file }}">{{ scan.file }}</option>
                            </tr>
                        {% endfor %}
            </select>
            <p> </p>
            <!-- Dropdown form -->
            <select class="form-select mx-auto w-auto" name="recepient">
                <option disabled selected>Recepient</option>
                    {% for name in names %}
                            <tr>
                                <option value="{{ name }}">{{ name }}</option>
                            </tr>
                        {% endfor %}
            </select>
            <p> </p>
    <button class="btn btn-primary" type="submit">Share File</button>

</form>
{% endblock %}
